.env
node_modules
manga_releases.json
manga_releases_april_2025.json
logs/
*.log
npm-debug.log*
dist/
build/
*.tmp
*.swp
.vscode/
.idea/
.DS_Store
package-lock.json
configs/
dataM-2025-5.json
jikan_v3/
data/