.env
node_modules
manga_releases.json
manga_releases_april_2025.json
logs/
*.log
npm-debug.log*
dist/
build/
*.tmp
*.swp
.vscode/
.idea/
.DS_Store
package-lock.json
configs/
jikan_v3/
scripts/anime/data/dataA-2025-3.json
scripts/anime/data/dataA-2025-4.json
scripts/manga/data/dataM-2025-1.json
scripts/manga/data/dataM-2025-2.json
scripts/manga/data/dataM-2025-3.json
scripts/manga/data/dataM-2025-4.json
scripts/manwha/data/dataW-2025-3.json
scripts/manwha/data/dataW-2025-4.json
Example Directory Overview.txt