.env
node_modules
bot_jikanV2.0.js
manga_releases.json
manga_releases_april_2025.json
logs/
*.log
npm-debug.log*
dist/
build/
*.tmp
*.swp
.vscode/
.idea/
.DS_Store
package-lock.json
events/
components/
utils/
configs/
index.js
config.js
